<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小青开发者工具</title>
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../style/index.css">
    <style>
        /*清除input框focus出现的边框*/
        .form-control:focus {
            /*border-color: #fff;*/
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .dropdown {
            /*float: right;*/
        }
    </style>
</head>
<body>
<div>
    <webview></webview>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 app-name">小青开发者工具</div>
            <div class="col-7">
                <div class="input-group">
                    <div class="input-group-prepend" style="margin-right: 2px">
                        <button class="btn btn-secondary btn-sm" id="go-back" type="button">返回</button>
                        <button class="btn btn-primary btn-sm" id="go-forward" type="button">前进</button>
                    </div>
                    <input id="url" type="text" class="form-control" placeholder="输入一个地址"/>
                    <div class="input-group-append" style="margin-left: 2px">
                        <button id="button_to_start" class="btn-success btn-sm" type="button">开始</button>
                    </div>
                </div>
            </div>
            <div class="col-2" style="text-align: right">
                <img height="50" src="" alt="das" class="header-image">
                <span class="logout">退出登录</span>
            </div>
        </div>
        <div class="modal fade" id="logout-confirm-modal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">提示</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        你确定要退出吗
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<script src="./renderer.js"></script>-->
<script>
    window.$ = window.jQuery = require('jquery');
    require('bootstrap')
    const {ipcRenderer} = require('electron')
    const Store = require('electron-store')
    const store = new Store()

    $(document).ready(function () {
        if (store.get('user')) {
            console.log(store)
            $('.header-image').attr('src', store.get('user')['avatar'])
        }
        $('.logout').click(function () {
            ipcRenderer.send('logout')
        })
    })

    let button_to_start = document.getElementById('button_to_start');
    let token = document.getElementById('token');
    let url = document.getElementById('url');
    ipcRenderer.on('urlChange', (event, args) => {
        url.value = args
    })

    window.document.onkeydown = function (event) {
        if (event.key === 'Enter') {
            toStart()
        }
    }

    button_to_start.onclick = toStart;
    document.getElementById('go-back').onclick = goBack
    document.getElementById('go-forward').onclick = goForward

    function toStart() {
        ipcRenderer.send('open-url', url.value)
    }

    function goBack() {
        ipcRenderer.send('go-back')
    }

    function goForward() {
        ipcRenderer.send('go-forward')
    }
</script>
</body>
</html>
